@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,900&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: uppercase;
  transition: all 1s ease;

  --color-background-app: radial-gradient(
    150.44% 150.44% at 50% 36.28%,
    rgba(116, 177, 36, 0.87) 0%,
    rgb(138, 185, 6) 100%
  );
  --color-text-primary: #33363a;
  --color-text-primary--on-dark: #ffffff;
  --color-text-secondary: rgba(51, 54, 58, 0.6);
  --color-button-background: rgb(22, 134, 185);
}

body {
  opacity: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  position: relative;
  background: var(--color-background-app);
}

h1 {
  color: var(--color-text-primary);
  font-size: 64px;
}

h4 {
  color: var(--color-text-tertiary);
  font-size: 50px;
  font-weight: 900;
  font-size: 50px;
  line-height: 61px;
}

header {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  width: 80%;
  padding: 50px;
}

#p1points {
  font-size: 60px;
}
#cpu-points {
  font-size: 60px;
}
.user-metrics {
  border: white 10px;
}

.cta-buttons {
  height: 10em;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-evenly;
}

.scoring-bars {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}
progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
  appearance: none;

  width: 400px;
  height: 40px;
}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
  background-image: -webkit-linear-gradient(
      -45deg,
      transparent 33%,
      rgba(0, 0, 0, 0.1) 33%,
      rgba(0, 0, 0, 0.1) 66%,
      transparent 66%
    ),
    -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.25)),
    -webkit-linear-gradient(left, #09c, #f44);

  border-radius: 2px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}

progress[value]::-webkit-progress-value {
  background-image: -webkit-linear-gradient(
      -45deg,
      transparent 33%,
      rgba(0, 0, 0, 0.1) 33%,
      rgba(0, 0, 0, 0.1) 66%,
      transparent 66%
    ),
    -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.25)),
    -webkit-linear-gradient(left, #09c, #f44);

  border-radius: 2px;
  background-size: 40px 25px, 100% 100%, 100% 100%;
}

@-webkit-keyframes animate-stripes {
  100% {
    background-position: -100px 0px;
  }
}

@keyframes animate-stripes {
  100% {
    background-position: -100px 0px;
  }
}

p {
  color: var(--color-text-quinary);
}

.reStartButton {
  padding: 20px;
  position: relative;
  margin-top: 90px;
}

button {
  position: absolute;
  padding: 1rem 1.5rem;
  box-shadow: 0px 4px 8px rgba(114, 54, 245, 0.21);
  background: var(--color-button-background);
  border-radius: 8px;
  color: var(--color-text-primary--on-dark);
  border: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  cursor: pointer;
  z-index: 999;
  transition: all 100ms ease-in;
}

button:hover {
  background: #7d9df5;
}

button:active {
  background: rgb(3, 28, 61);
}

.horse-name-container1 {
  position: absolute;
  top: 400px;
  left: 100px;
}
.horse-name-container2 {
  position: absolute;
  top: 400px;
  right: 100px;
}
.horse-name {
  font-size: 60px;
}
